.main {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card {
    height: 400px;
    width: 400px;
    background-color: gray;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card button {
    margin: 10px;
}