.main {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;

}

.card {
    height: 400px;
    width: 400px;
    background-color: gray;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.increase {
     margin: 10px;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.reset{
     margin: 10px;
    border: none; height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.save-count {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.sacuvani-countovi {
    margin-top: 50px;
    width: 700px;
    border: 1px solid black;
    background-color: gray;
    padding-left: 20px;
}


.login{
    width: 400px;
    /* margin-bottom: 50px; */
}

.login button {
    border: none;
    color: red; 
    padding: 10px 30px;  
}