.mejn {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .forma {
    /* height: 500px; */
    /* height: 330px;
    width: 330px; */
    padding: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .forma input {
    width: 190px;
  }

  .forma button {
    margin-top: 30px;
    padding: 3px 30px;
  }

  /* .forma input ::placeholder {
    text-align: center;
  } */

  .inp::placeholder {
    text-align: center;
  }

  .inp {
padding-left: 5px;
  }